<nav>
  <ul>
    <li><a routerLink="/proyectos" href="#" (click)="onOptionSelected('Registrar Proyecto', $event)">Registrar Proyecto</a></li>
    <li><a routerLink="/alternativas" href="#" (click)="onOptionSelected('Registrar Alternativa', $event)">Registrar Alternativa</a></li>
    <li><a routerLink="/criterios" href="#" (click)="onOptionSelected('Registrar Criterio', $event)">Registrar Criterio</a></li>
    <li><a routerLink="/pesos" href="#" (click)="onOptionSelected('Registrar Pesos', $event)">Registrar Pesos</a></li>
    <li><a routerLink="/matriz" href="#" (click)="onOptionSelected('Registrar Matriz de Decisión', $event)">Registrar Matriz de Decisión</a></li>
    <li><a routerLink="/score" href="#" (click)="onOptionSelected('Calcular Score', $event)">Calcular Score</a></li>
    <li><a routerLink="/resultados" href="#" (click)="onOptionSelected('Resultados', $event)">Resultados</a></li>
  </ul>
</nav>

<div class="contenedor">
  <router-outlet></router-outlet>
</div>
