<h2>CRUD de Criterios</h2>
<div>
    <p>Nombre de proyecto: 
        <br>
        <select [(ngModel)]="criteriosProj.id">
          <option value="" disabled selected>Selecciona un proyecto</option>
          @for(proj of proyectos; track criteriosProj.id){
            <option value="{{ proj.id }}">{{ proj.nombre }}</option>
          }
        </select>
      </p>
       
    <p>ID del criterio: <br><input type="number" min="0" [(ngModel)]="criteriosProj.idCriterios"></p>
    <p>Nombre del criterio<br> <input type="text" [(ngModel)]="criteriosProj.nombre"></p>
    <p>Descripcion del criterio: <br><textarea rows="10" cols="50" [(ngModel)]="criteriosProj.descripcion">
    </textarea></p>
    <p class="botones">
        <button (click)="agregarCriterio()">Agregar</button>
        <button (click)="consultarCriterio()">Consultar</button>
        <button (click)="modificarCriterio()">Modificar</button>
        <button (click)="eliminarCriterio()">Eliminar</button> 
    </p>
</div>

<h3>Lista de criterios</h3>
@if(hayCriterios()) {
    <table>
        <thead>
            <tr>
                <th>ID Proyecto</th>
                <th>ID Criterio</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            @for(alter of criterios;track alter.id) {
                <tr>
                    <td>{{ alter.id_proyecto }}</td>
                    <td>{{ alter.id }}</td>
                    <td>{{ alter.nombre }}</td>
                    <td>{{ alter.descripcion }}</td>
                    <td><button (click)="seleccionarCriterio(alter)">Seleccionar</button></td>
                </tr>
            }
        </tbody>
    </table>
} @else {
    <p style="display: flex; justify-content: center; align-items: center; font-size: 16px; text-transform: uppercase; letter-spacing: 3px;">No hay alternativas</p>
}
